
# BEGIN WordPress
# As diretrizes (linhas) entre "BEGIN WordPress" e "END WordPress" são
# geradas dinamicamente e só devem ser modificadas através de filtros do WordPress.
# Quaisquer alterações nas diretivas entre esses marcadores serão sobrescritas.
<IfModule mod_expires.c>
	ExpiresActive On
	ExpiresByType image/jpg "access plus 24 hours"
	ExpiresByType image/jpeg "access plus 24 hours"
	ExpiresByType image/gif "access plus 24 hours"
	ExpiresByType image/png "access plus 24 hours"
	ExpiresByType text/css "access plus 24 hours"
	ExpiresByType application/pdf "access plus 1 week"
	ExpiresByType text/javascript "access plus 24 hours"
	ExpiresByType text/html "access plus 2 hours"
	ExpiresByType image/x-icon "access plus 1 year"
	ExpiresDefault "access plus 24 hours"
</IfModule>
Options -Indexes
<IfModule mod_headers.c>
	Header set X-Endurance-Cache-Level "2"
	Header set X-nginx-cache "WordPress"
</IfModule>
<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteBase /
	RewriteRule ^/wp-content/endurance-page-cache/ - [L]
	RewriteCond %{REQUEST_METHOD} !POST
	RewriteCond %{QUERY_STRING} !.*=.*
	RewriteCond %{HTTP_COOKIE} !(wordpress_test_cookie|comment_author|wp\-postpass|wordpress_logged_in|wptouch_switch_toggle|wp_woocommerce_session_) [NC]
	RewriteCond %{DOCUMENT_ROOT}/wp-content/endurance-page-cache/$1/_index.html -f
	RewriteRule ^(.*)$ /wp-content/endurance-page-cache/$1/_index.html [L]
</IfModule>
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress
# php -- BEGIN cPanel-generated handler, do not edit
# Este domínio herda o pacote “PHP”.
# php -- END cPanel-generated handler, do not edit
